
body {
  margin: 0;
}

.section {
  margin: 10px 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.settings-container {
  width: 450px;
  height: 250px;
  overflow-y: hidden;
}

.hidden {
  display: none;
}

